.base-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
}

.left-side {
  height: 100vh;
  background-color: #48d1cc;
  flex: 1;
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 24px;
  font-family: cursive;
  margin-bottom: 80px;
}

img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.title {
  font-size: 20px;
  font-family: 'Gill Sans';
  margin-bottom: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.error {
  font-size: 12px;
  color: #e82110;
  margin-top: 10px;
}

label {
  font-size: 12px;
}

input {
  margin-top: 6px;
  min-width: 18em;
  height: 37px;
  padding: 0px 10px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 4px;
  margin-bottom: 15px;
  transition: all 250ms ease-in-out;
}

input:focus {
  outline: none;
  box-shadow: 0px 0px 12px 0.8px #0e81ce96;
}

.hr-label {
  margin-top: 2em;
  margin-bottom: 2em;
}

.hr-label::before {
  right: 0.5em;
  margin-left: -50%;
}

.hr-label::before,
.hr-label::after {
  content: '';
  position: relative;
  width: 50%;
  background-color: grey;
  display: inline-block;
  height: 1px;
  vertical-align: middle;
}

.hr-label::after {
  left: 0.5em;
  margin-right: -50%;
}

.footer {
  margin-top: 0.5em;
}

.caption {
  font-size: 12px;
  margin-top: 1em;
}

a:link,
a:visited {
  color: #2386c8;
}
