#container {
  height: 100vh;
}

#page {
  height: 80%;
}

.column {
  float: left;
  height: 100%;
  width: 33%;
}

#studyGroups {
  height: 80%;
}

#students {
  height: 80%;
}

.button {
  font-family: 'Poppins', sans-serif !important;
}
