.aboutpage-container {
  height: 200vh;
}

#quote {
  height: 40vh;
  background-color: #348AED;
  font-family: 'poppins', courier, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8vh;
}

#mission {
  height: 60vh;
}

#algorithm {
  height: 120vh;
  background-color: #348AED;
}