.algorithm-visualize-modal-body {
  height: 80vh !important;
  overflow: auto !important;

  .algorithm-description {
    margin-bottom: 15px;
  }

  .table-hover tbody tr:hover td:not(:first-child) {
    color: #ffffff;
  }

  th,
  td {
    text-align: center;
    vertical-align: middle;
    width: 100px;
  }

  td:first-child,
  th:first-child {
    width: 210px;
  }
}
