.container-fluid {
  width: 100%;
  height: 100vh;
  background-image: url('../../images/black-wallpaper.jpeg');
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signin-container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  max-width: 600px;
  max-height: 450px;
  padding: 80px 50px 50px 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signin-header-text {
  float: left;
  font-size: 18px;
  margin-bottom: 10px;
}

.signup {
  float: right;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin-top: 5px;
}

.signup > a:hover,
.signup > a:visited {
  text-decoration: none;
}

.form-label {
  font-family: 'Poppins', sans-serif !important;
  font-size: 15px !important;
  font-weight: bold !important;
}

.form-control {
  font-family: 'Poppins', sans-serif !important;
}
/*
.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
  background-color: #ffffff;
}
*/

.btn {
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: bold !important;
  font-size: 14px !important;
  background-color: #2386c8;
  padding: 12px 80px;
  border-radius: 500px;
  width: 100%;
}

.btn:hover {
  background-color: #2588da;
}

.forgot-password {
  font-size: 15px;
  margin-bottom: 45px;
}

.forgot-password > a:link,
.forgot-password > a:visited {
  color: #222326;
}

.forgot-password > a:link:hover {
  color: #348aed;
}
