@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.class-card {
  margin: 2rem;
  background-color: #ddd;
  border: none;
  float: left;
}

.class-modal-header {
  // padding-top: 10rem;
  font-family: 'poppins', courier, sans-serif;
  font-size: 32px;
  // font-weight: bold;
}

.class-modal-body {
  font-family: 'poppins', courier, sans-serif;
  font-size: 16px;
}