.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  width: 100%;
}

.column {
  float: left;
  width: 50%;
}

.Feeds {
  clear: both;
}

/*
table {
  width: 100%;
}



thead, tbody{
  width: 100%;
  display: block;
}

tbody {
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}
*/

.CheckinFeed {
  width: 99%;
  text-align: center;
}

.UserData {
  width: 99%;
  text-align: center;
}


.container {
  border: 2px solid #eeccee;
  max-height: 200px;
  overflow-y: scroll;
  width: 100%;
}

thead th, tbody td{
  width: 24%;
}


body {
  padding-bottom: 50px;
}
