.owner-dashboard-page {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  overflow: hidden;

  .owner-dashboard-page-sections {
    display: flex;
    flex-direction: row;
    align-contents: center;
    height: 100%;

    .page-section {
      padding: 1.5em 3% 0 3%;
    }

    .study-groups {
      flex: 1 0 25%;

      .study-groups-header {
        margin-bottom: 20px;
      }

      .create-groups-container {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;

        .create-study-groups-button {
          width: auto;
          padding-left: 20px !important;
          padding-right: 20px !important;
        }
      }

      .study-group,
      .current-preferences {
        flex: 1 0 50%;
      }

      .study-groups-header,
      .current-preferences-header {
        margin-bottom: 20px;
      }

      .study-groups-body {
        max-height: 35vh;
        overflow: auto;
      }

      .current-preferences {
        border-top: 1px solid #cccccc;

        .current-preferences-header {
          margin-top: 20px;
          margin-bottom: 10px;
        }

        .current-preferences-body {
          max-height: 35vh;
          overflow: auto;
        }

        .dorm-header,
        .preferred-people-header,
        .not-preferred-people-header,
        .times-header {
          font-size: 18px;
          font-weight: 500;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }

    .general-info {
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      flex: 1 0 55%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .create-groups-container {
        width: 100%;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .create-study-groups-button {
          width: 30% !important;
          padding-left: 20px;
          padding-right: 20px;
          margin-top: 30px !important;
        }
      }
    }

    .students {
      flex: 1 0 20%;
      height: 80vh;

      .students-header {
        margin-bottom: 20px;
      }

      .students-body {
        height: 100%;
        overflow: auto;

        .leave-class-container {
          margin-top: 30px;
          margin-bottom: 20px;
          position: fixed;
          bottom: 0;

          .leave-class-button {
            width: 100% !important;
            font-size: 15px !important;
            background-color: var(--chunky-red);
            outline: none !important;
          }

          .leave-class-button:hover,
          .leave-class-button:active,
          .leave-class-button:focus,
          .leave-class-button:visited {
            background-color: var(--slim-red) !important;
            box-shadow: none !important;
          }
        }
      }
    }

    .study-groups-header,
    .students-header,
    .current-preferences-header {
      font-size: 20px;
      font-weight: 500;
    }
  }
}
