.owner-dashboard-page {
  font-family: "Poppins", sans-serif;
  height: 100%;

  .owner-dashboard-page-sections {
    display: flex;
    flex-direction: row;
    align-contents: center;
    height: 100%;

    .page-section {
      padding: 1.5em 3% 0 3%;
    }

    .study-groups {
      flex: 1 0 25%;

      .study-groups-header {
        margin-bottom: 20px;
      }

      .view-algorithm-button {
        width: 30% !important;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 30px !important;
      }
    }

    .general-info {
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      flex: 1 0 55%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;

      .create-groups-container {
        width: 100%;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .create-study-groups-button {
          width: 30% !important;
          padding-left: 20px;
          padding-right: 20px;
          margin-top: 30px !important;
        }
      }
    }

    .students {
      flex: 1 0 20%;
      height: 100%;

      .students-header {
        margin-bottom: 20px;
      }

      .students-body {
        height: 100%;

        .leave-class-container {
          margin-top: 30px;
          margin-bottom: 20px;
          position: fixed;
          bottom: 0;

          .leave-class-button {
            padding-right: 30px;
            padding-left: 30px;
            font-size: 15px !important;
            background-color: var(--chunky-red);
            outline: none !important;
          }

          .leave-class-button:hover, .leave-class-button:active, .leave-class-button:focus, .leave-class-button:visited {
            background-color: var(--slim-red) !important;
            box-shadow: none !important;
          }
        }
      }
    }

    .study-groups-header, .students-header {
      font-size: 20px;
      font-weight: 500;
    }
  }
}