.owner-dashboard-page {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  overflow: hidden;

  .owner-dashboard-page-sections {
    display: flex;
    flex-direction: row;
    align-contents: center;
    height: 100%;

    .page-section {
      padding: 1.5em 3% 0 3%;
    }

    .study-groups {
      flex: 1 0 25%;
      width: 100%;

      .study-groups-header {
        margin-bottom: 20px;

        .card-header {
          display: flex;

          .groups-csv-button {
            margin-left: auto;
            margin-right: 0;
            cursor: pointer;
          }

          .groups-csv-button:hover {
            opacity: 0.2;
          }
        }
      }

      .study-group,
      .current-preferences {
        flex: 1 0 50%;
      }

      .study-groups-header,
      .current-preferences-header {
        margin-bottom: 20px;
      }

      .study-groups-body {
        max-height: 29vh;
        overflow: auto;
      }

      .create-groups-container,
      .visualize-groups-container {
        margin-top: 10px;
        display: flex;
        justify-content: center;

        .create-study-groups-button,
        .visualize-groups-button {
          width: auto;
          padding-left: 20px !important;
          padding-right: 20px !important;
        }
      }

      .visualize-groups-container {
        margin-bottom: 10px;
        align-items: flex-start;
      }

      .current-preferences {
        border-top: 1px solid #cccccc;

        .current-preferences-header {
          margin-top: 20px;
          margin-bottom: 10px;

          .card-header {
            display: flex;
            align-items: center;
            justify-content: center;

            .accordion.arrow.arrow-down,
            .accordion.arrow.arrow-up {
              width: 0;
              height: 0;
              border-left: 12px solid transparent;
              border-right: 12px solid transparent;
              margin-left: auto;
              margin-right: 0;
              cursor: pointer;
            }

            .accordion.arrow.arrow-down {
              border-top: 12px solid #000000;
            }

            .accordion.arrow.arrow-down:hover {
              border-top: 12px solid #98fb98;
            }

            .accordion.arrow.arrow-up {
              border-bottom: 12px solid #000000;
            }
          }

          .current-preferences-body {
            max-height: 35vh;
            overflow: auto;

            .dorm-header {
              font-size: 18px;
              font-weight: 500;
              margin-bottom: 10px;
            }

            .preferred-people-header,
            .not-preferred-people-header,
            .times-header {
              font-size: 18px;
              font-weight: 500;
              margin-top: 10px;
              margin-bottom: 10px;
            }

            .dorm-body,
            .preferred-people-body,
            .not-preferred-people-body,
            .times-body {
              font-size: 16px;
              font-weight: normal;
            }
          }
        }
      }
    }

    .general-info {
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      flex: 1 0 55%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .students {
      flex: 1 0 20%;
      height: 78vh;

      .students-header {
        margin-bottom: 20px;
      }

      .students-body {
        height: 100%;
        overflow: auto;

        .leave-class-container {
          margin-top: 30px;
          margin-bottom: 20px;
          position: fixed;
          bottom: 0;

          .leave-class-button {
            width: 100% !important;
            font-size: 15px !important;
            background-color: var(--chunky-red);
            outline: none !important;
          }

          .leave-class-button:hover,
          .leave-class-button:active,
          .leave-class-button:focus,
          .leave-class-button:visited {
            background-color: var(--slim-red) !important;
            box-shadow: none !important;
          }
        }
      }
    }

    .study-groups-header,
    .students-header,
    .current-preferences-header {
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.delete-class-modal-body {
  font-size: 20px;
}

.delete-class-confirmation-button {
  width: auto;
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.delete-class-confirmation-button.cancel {
  background-color: var(--chunky-red);
}

.delete-class-confirmation-button.yes {
  background-color: #58d68d;
}
