.student {
  width: 100%;
  font-family: Poppins, "sans-serif";
  color: #ffffff;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .name-text, .name-text:disabled {
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    background-color: var(--chunky-blue);
    opacity: 1;
    letter-spacing: 1.5px;
  }

  .remove {
    padding-right: 14px;
    padding-left: 14px;
    width: auto;
    height: auto;
    font-size: 15px !important;
    background-color: #d0312d;
    outline: none !important;
  }

  .remove:hover, .remove:active, .remove:focus, .remove:visited {
    background-color: #f9534e !important;
    box-shadow: none !important;
  }
}