.modified-navbar {
  background-color: var(--chunky-blue) !important;
  padding: 0px 140px !important;
  height: 70px;
  letter-spacing: 1px;

  .modified-nav-brand {
    color: #ffffff !important;
  }

  .btn {
    background-color: var(--chunky-red);
    border: none;
    padding: 5px 30px 5px 5px;
    color: #ffffff;
    letter-spacing: 1.5px !important;

    .avatar-and-name {
      display: inline-flex;
      align-items: center;

      .avatar {
        width: 35px;
        height: 35px;
        margin-right: 10px;
      }
    }
  }

  .btn:hover, .btn:active, .btn:focus {
    background-color: var(--slim-red);
  }

  .dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus {
    background-color: #D3D3D3;
    color: #000000;
  }
}
