.modified-navbar {
  background-color: #2386c8 !important;
  padding: 0px 240px !important;
  height: 70px;

  .modified-nav-brand {
    color: #ffffff !important;
  }

  .btn {
    background-color: #cccccc;
    border: none;
    padding-right: 30px;
    padding-left: 30px;
    color: #000000;
  }

  .btn:hover, .btn:active, .btn:focus {
    background-color: #f2f2f2;
    color: #000000;
    border: none;
  }

  .dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus {
    background-color: #D3D3D3;
    color: #000000;
  }

  .nav-link:not(.separator) {
    color: rgba(255, 255, 255, 1) !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px !important;
    font-weight: bold !important;
    padding: 28px 17px !important;
    cursor: pointer;
  }

  .separator {
    color: rgba(255, 255, 255, 1) !important;
    font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif !important;
    padding: 28px 17px !important;
  }

  .nav-link:hover:not(.separator),
  .nav-link--active:not(.separator) {
    color: #6A6C6E !important;
    transform: scale(1.1);
  }
}
