.main-container {
    display: flex;
}

.left-side {
    background-color: #48d1cc;
    flex: 1;
}

.right-side {
    flex: 1;
}

button {
    font-size: 15px;
    padding: 10px 70px;
    border: 0;
    border-radius: 200px;
    outline: none;
    background-color: #2386c8;
    color: #fff;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

button:hover {
    background-color: #696969;
}

button:focus {
    outline: none;
}