.btn {
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: bold !important;
  font-size: 14px !important;
  background-color: #2386c8;
  padding: 12px 80px;
  border-radius: 500px;
  width: 100%;
}

.btn:hover {
  background-color: #2588da;
}

.form-label {
  font-family: 'Poppins', sans-serif !important;
  font-size: 15px !important;
  font-weight: bold !important;
}

.form-control {
  font-family: 'Poppins', sans-serif !important;
}